.container{
	width: 92.45rem;
	margin: 0 auto;
}

.flex{
	display: flex;
	align-items: center;
}

header.header{
	box-shadow: 0px 56px 80px rgba(0, 0, 0, 0.07), 0px 23.3955px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 12.5083px 17.869px rgba(0, 0, 0, 0.0417275), 0px 7.01207px 10.0172px rgba(0, 0, 0, 0.035), 0px 3.72406px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.54966px 2.21381px rgba(0, 0, 0, 0.0196802);
padding: 1.05rem 0 1.05rem 0;
}

.header_inner, .header_item{
	justify-content: space-between;
}

.header-logo{
	width: 2.5rem;
	margin-right: .83rem;
}

.header-title{
	font-size: .83rem;
	font-weight: 800;
	text-transform: uppercase;
	margin-right: 1.04rem;
	width: 3.3rem;
}

.header-search{
background: #0D1017;
border: none;
padding: .83rem;
font-size: .74rem;
width: 15.5rem;
border-radius: 5px;
color: #fff;
opacity: .2;
}

nav{
	margin-right: 3.07rem;
}

.header_nav-link{
	opacity: .4;
	font-size: .83rem;
	margin-right: 2.92rem;
	transition: .2s;
}

.header_nav-link:hover{
	color: #ECEFF4;
	opacity: 1;
}

.header_nav-link:last-child{
	margin-right: 0;
}

.header-user{
	width: 2.92rem;
	margin-right: .83rem;
}

.header_logout{
	padding: .4rem .83rem;
	border: 1px;
	border-radius: 5px;
	cursor: pointer;
	transition: .2s;
}

.header_logout-icon{
	width: 1.25rem;
	margin-right: .4rem;
	transition: .2s;
}

.header_logout-title{
	font-size: .83rem;
	color: #ffffff;
	opacity: .5;
	transition: .2s;
}

section{
	padding: 2.76rem 0;
}

.content_header{
	justify-content: space-between;
	margin-bottom: 1.66rem;
}

.content_header-link{
	font-size: 1.25rem;
	color: #482502;
	opacity: .7;
}

h2{
	font-weight: 700;
	font-size: 2.08rem;
}

.box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.box_item{
	width: 45.3rem;
	height: 20.67rem;
	position: relative;
	margin-bottom: 2.08rem;
}

.box_item-img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.box_item_text{
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
	backdrop-filter: blur(55px);
	padding: 2.5rem .94rem 1.56rem 1.56rem;
	border-top-left-radius: 70px;
}

h3{
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1.2rem;
}

.box_item_text-price{
	font-size: 1.25rem;
}

footer{
background: #0D1017;
padding: 2.65rem 0;
}

.footer_inner{
	justify-content: space-between;
}

.footer_inner-item{
	font-size: .83rem;
	font-weight: 600;
}
