*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  font-family: Manrope; sans-serif;
}
header{
width: 100%;
background: #171A21;
display: flex;
}
.header__logo{
width: 64px;
height: 44px;
text-transform: uppercase;
margin-left: 144px;
margin-top: 28px;
font-weight: 800;
font-size: 16px;
color: #FFF;
}
nav{
margin-top: 28px;
margin-left: 890px;
}
.topnav{
text-align: center;
display: flex;
flex-direction: row;
width: 39px;
height: 22px;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
}
.tophelp {
width: 74px;
height: 16px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: rgba(255, 255, 255, 0.2);
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .main__welcome{
  background: #171A21;
  text-align: center;
  padding: 153px 1589px 1053px 82px;
}
main .main__welcome h3{
  color: #ECEFF4;
  font-size: 40px;
  font-weight: bold;
}
footer{
width: 100%;
height: 129px;
background: #0D1017;
padding: 51px 0 51px 0;
}
.ftext{
text-align: center;
display: flex;
flex-direction: row;
width: 132px;
height: 27px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 170%;
color: #FFFFFF;
}
